Action2	(Rule_base)
资金流入流出预测
https://tianchi.aliyun.com/competition/entrance/231573/information
数据集一共包括4张表：用户基本信息数据、用户申购赎回数据、收益率表和银行间拆借利率表
2.8万用户，284万行为数据，294天拆解利率，427天收益率
2013-07-01到2014-08-31，预测2014年9月的申购和赎回

预测下个月每一天的情况：
如果想预测下个月每天的流量情况，可以基于每月的规律（1-30号的平均流量）* 周期因子
Step1，计算周期因子（weekday）
Step2，计算每日（1号-30号）均值，即1号的平均流量，2号的平均流量 …
Step3，统计星期几（weekday）在每日（day）出现的频次
Step4，基于周期因子获得加权均值，得到每日的base（去掉周期因子的影响）
Step5，根据每日的base和周期因子进行预测

# 数据探索

In [1]:
#数据加载,时间序列
import pandas as pd
#parse_dates=['report_date']转换成日期类型
data = pd.read_csv('./user_balance_table.csv') 
data

,user_id,report_date,tBalance,yBalance,total_purchase_amt,direct_purchase_amt,purchase_bal_amt,purchase_bank_amt,total_redeem_amt,consume_amt,transfer_amt,tftobal_amt,tftocard_amt,share_amt,category1,category2,category3,category4
0,1,20140805,20385,20383,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN
1,1,20140808,20391,20389,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN
2,1,20140811,20397,20395,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN
3,1,20140814,20403,20401,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN
4,1,20140817,20409,20407,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840416,28033,20140825,550646,550585,61,0,0,0,0,0,0,0,0,61,NaN,NaN,NaN,NaN
2840417,28033,20140831,525707,538147,60,0,0,0,12500,12500,0,0,0,60,0.0,0.0,0.0,12500.0
2840418,28033,20140724,20487121,20484824,2297,0,0,0,0,0,0,0,0,2297,NaN,NaN,NaN,NaN
2840419,28033,20140727,20462288,20491722,2298,0,0,0,31732,0,31732,0,31732,2298,NaN,NaN,NaN,NaN
2840420,28035,20140305,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [2]:
#给时间添加时间维度
def add_timestamp(data):
    #时间格式转换
    data['report_date'] = pd.to_datetime(data['report_date'],format="%Y%m%d")
    #添加时间维度
    data['day'] = data['report_date'].dt.day
    data['month'] = data['report_date'].dt.month
    data['year'] = data['report_date'].dt.year
    data['week'] = data['report_date'].dt.week#一年中的第几个星期
    data['weekday'] = data['report_date'].dt.weekday#0代表周一,6周日
    return data

data=add_timestamp(data)
data

,user_id,report_date,tBalance,yBalance,total_purchase_amt,direct_purchase_amt,purchase_bal_amt,purchase_bank_amt,total_redeem_amt,consume_amt,...,share_amt,category1,category2,category3,category4,day,month,year,week,weekday
0,1,2014-08-05,20385,20383,2,0,0,0,0,0,...,2,NaN,NaN,NaN,NaN,5,8,2014,32,1
1,1,2014-08-08,20391,20389,2,0,0,0,0,0,...,2,NaN,NaN,NaN,NaN,8,8,2014,32,4
2,1,2014-08-11,20397,20395,2,0,0,0,0,0,...,2,NaN,NaN,NaN,NaN,11,8,2014,33,0
3,1,2014-08-14,20403,20401,2,0,0,0,0,0,...,2,NaN,NaN,NaN,NaN,14,8,2014,33,3
4,1,2014-08-17,20409,20407,2,0,0,0,0,0,...,2,NaN,NaN,NaN,NaN,17,8,2014,33,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840416,28033,2014-08-25,550646,550585,61,0,0,0,0,0,...,61,NaN,NaN,NaN,NaN,25,8,2014,35,0
2840417,28033,2014-08-31,525707,538147,60,0,0,0,12500,12500,...,60,0.0,0.0,0.0,12500.0,31,8,2014,35,6
2840418,28033,2014-07-24,20487121,20484824,2297,0,0,0,0,0,...,2297,NaN,NaN,NaN,NaN,24,7,2014,30,3
2840419,28033,2014-07-27,20462288,20491722,2298,0,0,0,31732,0,...,2298,NaN,NaN,NaN,NaN,27,7,2014,30,6
2840420,28035,2014-03-05,0,0,0,0,0,0,0,0,...,0,NaN,NaN,NaN,NaN,5,3,2014,10,2

In [3]:
def get_total_balance(data,begin):
    #在copy数据上进行操作
    df_temp = data.copy()
    #按照data进行聚合
    df_temp = df_temp.groupby(['report_date'])['total_purchase_amt','total_redeem_amt'].sum()
    #print(df_temp)
    
    #还原data字段,重新索引
    df_temp.reset_index(inplace=True)
    df_temp = df_temp[(df_temp['report_date']>=begin)]
    return df_temp
#筛选从2014-04-01之后的数据作为平稳数据
total_balance = get_total_balance(data,'2014-03-01')
total_balance

<ipython-input-3-b31f534b41bb>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_temp = df_temp.groupby(['report_date'])['total_purchase_amt','total_redeem_amt'].sum()

    report_date  total_purchase_amt  total_redeem_amt
243  2014-03-01           362865580         211279011
244  2014-03-02           276202230         246199417
245  2014-03-03           505305862         513017360
246  2014-03-04           524146340         250562978
247  2014-03-05           454295491         209072753
..          ...                 ...               ...
422  2014-08-27           302194801         468164147
423  2014-08-28           245082751         297893861
424  2014-08-29           267554713         273756380
425  2014-08-30           199708772         196374134
426  2014-08-31           275090213         292943033

[184 rows x 3 columns]

In [4]:
import datetime
import numpy as np
#生成测试数据
def generate_test_data(data):
    #在copy数据上进行操作
    total_balance = data.copy()
    #生成2014-09-01到2014-09-30的数据
    start =datetime.datetime(2014,9,1)
    end = datetime.datetime(2014,10,1)
    testdata=[]
    while start!=end:
        #添加3个字段,date,total_purchase_amt,total_redeem_amt
        temp = [start,np.nan,np.nan]
        testdata.append(temp)
        #日期+1
        start += datetime.timedelta(days=1)
        
    #封装testdata
    testdata = pd.DataFrame(testdata)
    testdata.columns = total_balance.columns
    #将testdata合并到total_balance中
    total_balance = pd.concat([total_balance,testdata],axis=0)
    return total_balance
total_balance = generate_test_data(total_balance)    
total_balance

    report_date  total_purchase_amt  total_redeem_amt
243  2014-03-01         362865580.0       211279011.0
244  2014-03-02         276202230.0       246199417.0
245  2014-03-03         505305862.0       513017360.0
246  2014-03-04         524146340.0       250562978.0
247  2014-03-05         454295491.0       209072753.0
..          ...                 ...               ...
25   2014-09-26                 NaN               NaN
26   2014-09-27                 NaN               NaN
27   2014-09-28                 NaN               NaN
28   2014-09-29                 NaN               NaN
29   2014-09-30                 NaN               NaN

[214 rows x 3 columns]

In [5]:
#对total_balance 添加时间维度
total_balance  = add_timestamp(total_balance)
total_balance

,report_date,total_purchase_amt,total_redeem_amt,day,month,year,week,weekday
243,2014-03-01,362865580.0,211279011.0,1,3,2014,9,5
244,2014-03-02,276202230.0,246199417.0,2,3,2014,9,6
245,2014-03-03,505305862.0,513017360.0,3,3,2014,10,0
246,2014-03-04,524146340.0,250562978.0,4,3,2014,10,1
247,2014-03-05,454295491.0,209072753.0,5,3,2014,10,2
...,...,...,...,...,...,...,...,...
25,2014-09-26,NaN,NaN,26,9,2014,39,4
26,2014-09-27,NaN,NaN,27,9,2014,39,5
27,2014-09-28,NaN,NaN,28,9,2014,39,6
28,2014-09-29,NaN,NaN,29,9,2014,40,0
29,2014-09-30,NaN,NaN,30,9,2014,40,1

In [6]:
#修正日期假期
import datetime
from chinese_calendar import is_workday, is_holiday
total_balance['is_holiday'] =total_balance['report_date'].apply(lambda x: is_holiday(x))
#将True和False映射为1和0
total_balance['is_holiday'] =total_balance['is_holiday'].replace({True:1,False:0})
total_balance

,report_date,total_purchase_amt,total_redeem_amt,day,month,year,week,weekday,is_holiday
243,2014-03-01,362865580.0,211279011.0,1,3,2014,9,5,1
244,2014-03-02,276202230.0,246199417.0,2,3,2014,9,6,1
245,2014-03-03,505305862.0,513017360.0,3,3,2014,10,0,0
246,2014-03-04,524146340.0,250562978.0,4,3,2014,10,1,0
247,2014-03-05,454295491.0,209072753.0,5,3,2014,10,2,0
...,...,...,...,...,...,...,...,...,...
25,2014-09-26,NaN,NaN,26,9,2014,39,4,0
26,2014-09-27,NaN,NaN,27,9,2014,39,5,1
27,2014-09-28,NaN,NaN,28,9,2014,39,6,0
28,2014-09-29,NaN,NaN,29,9,2014,40,0,0
29,2014-09-30,NaN,NaN,30,9,2014,40,1,0

In [7]:
#检查异常日期, 工作日为假日延长放假日, 放假日为假期加班日
#re_weekday=[]
#for index,(weekday, is_holiday) in enumerate(zip(total_balance['weekday'].values, total_balance['is_holiday'].values)):
#    r = total_balance['weekday'].values[index]
#    #如果不是周六日, 但是是holiday=>设为周日
#    if weekday not in[5,6] and is_holiday ==1:
#        r=6
#    #如果是周六日, 但是上班=>设为周一
#    elif  weekday in[5,6] and is_holiday ==0:
#        r=0
#    re_weekday.append(r)
#total_balance['weekday'] = re_weekday
#total_balance

,report_date,total_purchase_amt,total_redeem_amt,day,month,year,week,weekday,is_holiday
243,2014-03-01,362865580.0,211279011.0,1,3,2014,9,5,1
244,2014-03-02,276202230.0,246199417.0,2,3,2014,9,6,1
245,2014-03-03,505305862.0,513017360.0,3,3,2014,10,0,0
246,2014-03-04,524146340.0,250562978.0,4,3,2014,10,1,0
247,2014-03-05,454295491.0,209072753.0,5,3,2014,10,2,0
...,...,...,...,...,...,...,...,...,...
25,2014-09-26,NaN,NaN,26,9,2014,39,4,0
26,2014-09-27,NaN,NaN,27,9,2014,39,5,1
27,2014-09-28,NaN,NaN,28,9,2014,39,0,0
28,2014-09-29,NaN,NaN,29,9,2014,40,0,0
29,2014-09-30,NaN,NaN,30,9,2014,40,1,0

In [ ]:
#检查异常日期, 工作日为假日延长放假日, 放假日为假期加班日
re_weekday=[]
for index,(weekday, is_holiday) in enumerate(zip(total_balance['weekday'].values, total_balance['is_holiday'].values)):
    r = total_balance['weekday'].values[index]
    #如果不是周六日, 但是是holiday=>设为周日
    if weekday not in[5,6] and is_holiday ==1:
        r=6
    #如果是周六日, 但是上班=>设为周一
    elif  weekday in[5,6] and is_holiday ==0:
        r=0
    re_weekday.append(r)
total_balance['weekday'] = re_weekday
total_balance

In [8]:
temp = total_balance.copy()#备份集

In [9]:
#复制一份作为操作集
total_balance  = temp.copy()
total_balance

,report_date,total_purchase_amt,total_redeem_amt,day,month,year,week,weekday,is_holiday
243,2014-03-01,362865580.0,211279011.0,1,3,2014,9,5,1
244,2014-03-02,276202230.0,246199417.0,2,3,2014,9,6,1
245,2014-03-03,505305862.0,513017360.0,3,3,2014,10,0,0
246,2014-03-04,524146340.0,250562978.0,4,3,2014,10,1,0
247,2014-03-05,454295491.0,209072753.0,5,3,2014,10,2,0
...,...,...,...,...,...,...,...,...,...
25,2014-09-26,NaN,NaN,26,9,2014,39,4,0
26,2014-09-27,NaN,NaN,27,9,2014,39,5,1
27,2014-09-28,NaN,NaN,28,9,2014,39,0,0
28,2014-09-29,NaN,NaN,29,9,2014,40,0,0
29,2014-09-30,NaN,NaN,30,9,2014,40,1,0

In [10]:
#total_balance = total_balance[['report_date','total_purchase_amt','total_redeem_amt']]
weekday_weight = total_balance[['weekday','total_purchase_amt','total_redeem_amt']].groupby('weekday',as_index=False)
weekday_weight = weekday_weight.mean()
weekday_weight

   weekday  total_purchase_amt  total_redeem_amt
0        0        3.383813e+08      3.621419e+08
1        1        3.340518e+08      3.221266e+08
2        2        3.213877e+08      3.181960e+08
3        3        3.195568e+08      2.876994e+08
4        4        2.542474e+08      2.739193e+08
5        5        1.958666e+08      1.840544e+08
6        6        1.893312e+08      1.950070e+08

In [11]:
weekday_weight = weekday_weight.rename(columns={'total_purchase_amt':'purchase_weekday','total_redeem_amt':'redeem_weekday'})
weekday_weight

   weekday  purchase_weekday  redeem_weekday
0        0      3.383813e+08    3.621419e+08
1        1      3.340518e+08    3.221266e+08
2        2      3.213877e+08    3.181960e+08
3        3      3.195568e+08    2.876994e+08
4        4      2.542474e+08    2.739193e+08
5        5      1.958666e+08    1.840544e+08
6        6      1.893312e+08    1.950070e+08

In [12]:
#计算周期因子
weekday_weight['purchase_weekday'] /= np.mean(total_balance['total_purchase_amt'])
weekday_weight['redeem_weekday'] /= np.mean(total_balance['total_redeem_amt'])
weekday_weight

   weekday  purchase_weekday  redeem_weekday
0        0          1.225286        1.317867
1        1          1.209608        1.172248
2        2          1.163752        1.157944
3        3          1.157122        1.046964
4        4          0.920635        0.996817
5        5          0.709237        0.669791
6        6          0.685572        0.709648

In [13]:
#合并
total_balance = pd.merge(total_balance,weekday_weight,on='weekday',how='left')
total_balance

,report_date,total_purchase_amt,total_redeem_amt,day,month,year,week,weekday,is_holiday,purchase_weekday,redeem_weekday
0,2014-03-01,362865580.0,211279011.0,1,3,2014,9,5,1,0.709237,0.669791
1,2014-03-02,276202230.0,246199417.0,2,3,2014,9,6,1,0.685572,0.709648
2,2014-03-03,505305862.0,513017360.0,3,3,2014,10,0,0,1.225286,1.317867
3,2014-03-04,524146340.0,250562978.0,4,3,2014,10,1,0,1.209608,1.172248
4,2014-03-05,454295491.0,209072753.0,5,3,2014,10,2,0,1.163752,1.157944
...,...,...,...,...,...,...,...,...,...,...,...
209,2014-09-26,NaN,NaN,26,9,2014,39,4,0,0.920635,0.996817
210,2014-09-27,NaN,NaN,27,9,2014,39,5,1,0.709237,0.669791
211,2014-09-28,NaN,NaN,28,9,2014,39,0,0,1.225286,1.317867
212,2014-09-29,NaN,NaN,29,9,2014,40,0,0,1.225286,1.317867
213,2014-09-30,NaN,NaN,30,9,2014,40,1,0,1.209608,1.172248

In [14]:
#计算日期因子#统计周一~周日,在1-31号中出现的次数
weekday_count = total_balance[['report_date','day','weekday']].groupby(['day','weekday'],as_index=False).count()

In [15]:
weekday_count = pd.merge(weekday_count,weekday_weight,on='weekday')
weekday_count

     day  weekday  report_date  purchase_weekday  redeem_weekday
0      1        0            1          1.225286        1.317867
1      3        0            1          1.225286        1.317867
2      4        0            2          1.225286        1.317867
3      5        0            1          1.225286        1.317867
4      7        0            1          1.225286        1.317867
..   ...      ...          ...               ...             ...
173   26        3            1          1.157122        1.046964
174   27        3            1          1.157122        1.046964
175   28        3            1          1.157122        1.046964
176   29        3            1          1.157122        1.046964
177   31        3            1          1.157122        1.046964

[178 rows x 5 columns]

In [16]:
len(np.unique(total_balance['month']))

7

In [17]:
#日期计算 = 周期因子 * (周一到周日在1-31号中出现的频次)/一共多少个月
weekday_count['purchase_weekday'] = weekday_count['purchase_weekday']*weekday_count['report_date']/len(np.unique(total_balance['month']))

In [18]:
weekday_count['redeem_weekday'] = weekday_count['redeem_weekday']*weekday_count['report_date']/len(np.unique(total_balance['month']))

In [19]:
#日期因子
day_rate = weekday_count.drop(['weekday','report_date'],axis=1).groupby('day',as_index=False).sum()
day_rate

    day  purchase_weekday  redeem_weekday
0     1          0.949360        0.964038
1     2          0.900438        0.898125
2     3          1.043957        1.017347
3     4          1.117475        1.143789
4     5          1.013554        1.004489
5     6          0.933071        0.923294
6     7          0.935311        0.944097
7     8          0.939622        0.925338
8     9          1.011120        1.026037
9    10          1.043957        1.017347
10   11          1.040373        1.056901
11   12          1.013554        1.004489
12   13          0.933071        0.923294
13   14          1.012413        1.030986
14   15          1.016724        1.012226
15   16          1.011120        1.026037
16   17          1.043957        1.017347
17   18          1.040373        1.056901
18   19          1.013554        1.004489
19   20          0.933071        0.923294
20   21          1.012413        1.030986
21   22          1.016724        1.012226
22   23          1.011120        1.026037
23   24          1.043957        1.017347
24   25          1.040373        1.056901
25   26          1.013554        1.004489
26   27          0.933071        0.923294
27   28          1.089515        1.117874
28   29          1.016724        1.012226
29   30          1.011120        1.026037
30   31          0.539602        0.534896

In [20]:
#按照日期day计算均值,即1号的均值,2号的均值...
day_mean = total_balance[['day','total_purchase_amt','total_redeem_amt']].groupby('day',as_index=False).mean()
day_mean

    day  total_purchase_amt  total_redeem_amt
0     1        3.253391e+08      2.347676e+08
1     2        2.481255e+08      2.186074e+08
2     3        2.994808e+08      2.968247e+08
3     4        3.159802e+08      2.925598e+08
4     5        3.286272e+08      2.552484e+08
5     6        2.998453e+08      2.460958e+08
6     7        2.836725e+08      2.374837e+08
7     8        2.918664e+08      2.475255e+08
8     9        2.856603e+08      2.440269e+08
9    10        3.446347e+08      2.593854e+08
10   11        2.864396e+08      3.051408e+08
11   12        2.747103e+08      2.548406e+08
12   13        2.479819e+08      2.740102e+08
13   14        2.708833e+08      2.950661e+08
14   15        2.958162e+08      2.302103e+08
15   16        3.144102e+08      3.124890e+08
16   17        2.565208e+08      2.987040e+08
17   18        2.803201e+08      2.798990e+08
18   19        2.836917e+08      2.608026e+08
19   20        2.911061e+08      2.367789e+08
20   21        2.815229e+08      2.817788e+08
21   22        2.430277e+08      2.612727e+08
22   23        2.282969e+08      2.625709e+08
23   24        2.407172e+08      2.973243e+08
24   25        2.430157e+08      3.156773e+08
25   26        2.503822e+08      3.116598e+08
26   27        2.383337e+08      3.178620e+08
27   28        2.662850e+08      3.460569e+08
28   29        2.443095e+08      2.691366e+08
29   30        2.393089e+08      2.937321e+08
30   31        2.531319e+08      2.842130e+08

In [21]:
day_pred = pd.merge(day_mean,day_rate,on='day',how='left')
day_pred

,day,total_purchase_amt,total_redeem_amt,purchase_weekday,redeem_weekday
0,1,3.253391e+08,2.347676e+08,0.949360,0.964038
1,2,2.481255e+08,2.186074e+08,0.900438,0.898125
2,3,2.994808e+08,2.968247e+08,1.043957,1.017347
3,4,3.159802e+08,2.925598e+08,1.117475,1.143789
4,5,3.286272e+08,2.552484e+08,1.013554,1.004489
5,6,2.998453e+08,2.460958e+08,0.933071,0.923294
6,7,2.836725e+08,2.374837e+08,0.935311,0.944097
7,8,2.918664e+08,2.475255e+08,0.939622,0.925338
8,9,2.856603e+08,2.440269e+08,1.011120,1.026037
9,10,3.446347e+08,2.593854e+08,1.043957,1.017347
10,11,2.864396e+08,3.051408e+08,1.040373,1.056901
11,12,2.747103e+08,2.548406e+08,1.013554,1.004489
12,13,2.479819e+08,2.740102e+08,0.933071,0.923294
13,14,2.708833e+08,2.950661e+08,1.012413,1.030986
14,15,2.958162e+08,2.302103e+08,1.016724,1.012226
15,16,3.144102e+08,3.124890e+08,1.011120,1.026037
16,17,2.565208e+08,2.987040e+08,1.043957,1.017347
17,18,2.803201e+08,2.798990e+08,1.040373,1.056901
18,19,2.836917e+08,2.608026e+08,1.013554,1.004489
19,20,2.911061e+08,2.367789e+08,0.933071,0.923294
20,21,2.815229e+08,2.817788e+08,1.012413,1.030986
21,22,2.430277e+08,2.612727e+08,1.016724,1.012226
22,23,2.282969e+08,2.625709e+08,1.011120,1.026037
23,24,2.407172e+08,2.973243e+08,1.043957,1.017347
24,25,2.430157e+08,3.156773e+08,1.040373,1.056901
25,26,2.503822e+08,3.116598e+08,1.013554,1.004489
26,27,2.383337e+08,3.178620e+08,0.933071,0.923294
27,28,2.662850e+08,3.460569e+08,1.089515,1.117874
28,29,2.443095e+08,2.691366e+08,1.016724,1.012226
29,30,2.393089e+08,2.937321e+08,1.011120,1.026037
30,31,2.531319e+08,2.842130e+08,0.539602,0.534896

In [22]:
#去掉周期因子影响,之后的日期因子
day_pred['total_purchase_amt']/=day_pred['purchase_weekday']
day_pred['total_redeem_amt']/=day_pred['redeem_weekday']
day_pred

,day,total_purchase_amt,total_redeem_amt,purchase_weekday,redeem_weekday
0,1,3.426931e+08,2.435252e+08,0.949360,0.964038
1,2,2.755609e+08,2.434043e+08,0.900438,0.898125
2,3,2.868708e+08,2.917636e+08,1.043957,1.017347
3,4,2.827627e+08,2.557812e+08,1.117475,1.143789
4,5,3.242326e+08,2.541077e+08,1.013554,1.004489
5,6,3.213530e+08,2.665410e+08,0.933071,0.923294
6,7,3.032922e+08,2.515459e+08,0.935311,0.944097
7,8,3.106210e+08,2.674975e+08,0.939622,0.925338
8,9,2.825186e+08,2.378344e+08,1.011120,1.026037
9,10,3.301234e+08,2.549626e+08,1.043957,1.017347
10,11,2.753240e+08,2.887128e+08,1.040373,1.056901
11,12,2.710367e+08,2.537018e+08,1.013554,1.004489
12,13,2.657696e+08,2.967745e+08,0.933071,0.923294
13,14,2.675621e+08,2.861982e+08,1.012413,1.030986
14,15,2.909503e+08,2.274297e+08,1.016724,1.012226
15,16,3.109523e+08,3.045592e+08,1.011120,1.026037
16,17,2.457197e+08,2.936109e+08,1.043957,1.017347
17,18,2.694419e+08,2.648300e+08,1.040373,1.056901
18,19,2.798980e+08,2.596372e+08,1.013554,1.004489
19,20,3.119870e+08,2.564501e+08,0.933071,0.923294
20,21,2.780713e+08,2.733102e+08,1.012413,1.030986
21,22,2.390302e+08,2.581169e+08,1.016724,1.012226
22,23,2.257861e+08,2.559078e+08,1.011120,1.026037
23,24,2.305815e+08,2.922547e+08,1.043957,1.017347
24,25,2.335852e+08,2.986820e+08,1.040373,1.056901
25,26,2.470339e+08,3.102671e+08,1.013554,1.004489
26,27,2.554293e+08,3.442694e+08,0.933071,0.923294
27,28,2.444070e+08,3.095670e+08,1.089515,1.117874
28,29,2.402909e+08,2.658858e+08,1.016724,1.012226
29,30,2.366769e+08,2.862783e+08,1.011120,1.026037
30,31,4.691082e+08,5.313429e+08,0.539602,0.534896

In [23]:
for index,row in day_pred.iterrows():
    if row['day']==31:
        break
    #添加日期字段report_date
    day_pred.loc[index,'report_date'] = pd.to_datetime('2014/09/'+str(int(row['day'])))
day_pred

,day,total_purchase_amt,total_redeem_amt,purchase_weekday,redeem_weekday,report_date
0,1,3.426931e+08,2.435252e+08,0.949360,0.964038,2014-09-01
1,2,2.755609e+08,2.434043e+08,0.900438,0.898125,2014-09-02
2,3,2.868708e+08,2.917636e+08,1.043957,1.017347,2014-09-03
3,4,2.827627e+08,2.557812e+08,1.117475,1.143789,2014-09-04
4,5,3.242326e+08,2.541077e+08,1.013554,1.004489,2014-09-05
5,6,3.213530e+08,2.665410e+08,0.933071,0.923294,2014-09-06
6,7,3.032922e+08,2.515459e+08,0.935311,0.944097,2014-09-07
7,8,3.106210e+08,2.674975e+08,0.939622,0.925338,2014-09-08
8,9,2.825186e+08,2.378344e+08,1.011120,1.026037,2014-09-09
9,10,3.301234e+08,2.549626e+08,1.043957,1.017347,2014-09-10
10,11,2.753240e+08,2.887128e+08,1.040373,1.056901,2014-09-11
11,12,2.710367e+08,2.537018e+08,1.013554,1.004489,2014-09-12
12,13,2.657696e+08,2.967745e+08,0.933071,0.923294,2014-09-13
13,14,2.675621e+08,2.861982e+08,1.012413,1.030986,2014-09-14
14,15,2.909503e+08,2.274297e+08,1.016724,1.012226,2014-09-15
15,16,3.109523e+08,3.045592e+08,1.011120,1.026037,2014-09-16
16,17,2.457197e+08,2.936109e+08,1.043957,1.017347,2014-09-17
17,18,2.694419e+08,2.648300e+08,1.040373,1.056901,2014-09-18
18,19,2.798980e+08,2.596372e+08,1.013554,1.004489,2014-09-19
19,20,3.119870e+08,2.564501e+08,0.933071,0.923294,2014-09-20
20,21,2.780713e+08,2.733102e+08,1.012413,1.030986,2014-09-21
21,22,2.390302e+08,2.581169e+08,1.016724,1.012226,2014-09-22
22,23,2.257861e+08,2.559078e+08,1.011120,1.026037,2014-09-23
23,24,2.305815e+08,2.922547e+08,1.043957,1.017347,2014-09-24
24,25,2.335852e+08,2.986820e+08,1.040373,1.056901,2014-09-25
25,26,2.470339e+08,3.102671e+08,1.013554,1.004489,2014-09-26
26,27,2.554293e+08,3.442694e+08,0.933071,0.923294,2014-09-27
27,28,2.444070e+08,3.095670e+08,1.089515,1.117874,2014-09-28
28,29,2.402909e+08,2.658858e+08,1.016724,1.012226,2014-09-29
29,30,2.366769e+08,2.862783e+08,1.011120,1.026037,2014-09-30
30,31,4.691082e+08,5.313429e+08,0.539602,0.534896,NaT

In [24]:
#利用周期因子,进行base*周期因子=预测结果
day_pred['weekday'] = day_pred['report_date'].dt.weekday
day_pred

,day,total_purchase_amt,total_redeem_amt,purchase_weekday,redeem_weekday,report_date,weekday
0,1,3.426931e+08,2.435252e+08,0.949360,0.964038,2014-09-01,0.0
1,2,2.755609e+08,2.434043e+08,0.900438,0.898125,2014-09-02,1.0
2,3,2.868708e+08,2.917636e+08,1.043957,1.017347,2014-09-03,2.0
3,4,2.827627e+08,2.557812e+08,1.117475,1.143789,2014-09-04,3.0
4,5,3.242326e+08,2.541077e+08,1.013554,1.004489,2014-09-05,4.0
5,6,3.213530e+08,2.665410e+08,0.933071,0.923294,2014-09-06,5.0
6,7,3.032922e+08,2.515459e+08,0.935311,0.944097,2014-09-07,6.0
7,8,3.106210e+08,2.674975e+08,0.939622,0.925338,2014-09-08,0.0
8,9,2.825186e+08,2.378344e+08,1.011120,1.026037,2014-09-09,1.0
9,10,3.301234e+08,2.549626e+08,1.043957,1.017347,2014-09-10,2.0
10,11,2.753240e+08,2.887128e+08,1.040373,1.056901,2014-09-11,3.0
11,12,2.710367e+08,2.537018e+08,1.013554,1.004489,2014-09-12,4.0
12,13,2.657696e+08,2.967745e+08,0.933071,0.923294,2014-09-13,5.0
13,14,2.675621e+08,2.861982e+08,1.012413,1.030986,2014-09-14,6.0
14,15,2.909503e+08,2.274297e+08,1.016724,1.012226,2014-09-15,0.0
15,16,3.109523e+08,3.045592e+08,1.011120,1.026037,2014-09-16,1.0
16,17,2.457197e+08,2.936109e+08,1.043957,1.017347,2014-09-17,2.0
17,18,2.694419e+08,2.648300e+08,1.040373,1.056901,2014-09-18,3.0
18,19,2.798980e+08,2.596372e+08,1.013554,1.004489,2014-09-19,4.0
19,20,3.119870e+08,2.564501e+08,0.933071,0.923294,2014-09-20,5.0
20,21,2.780713e+08,2.733102e+08,1.012413,1.030986,2014-09-21,6.0
21,22,2.390302e+08,2.581169e+08,1.016724,1.012226,2014-09-22,0.0
22,23,2.257861e+08,2.559078e+08,1.011120,1.026037,2014-09-23,1.0
23,24,2.305815e+08,2.922547e+08,1.043957,1.017347,2014-09-24,2.0
24,25,2.335852e+08,2.986820e+08,1.040373,1.056901,2014-09-25,3.0
25,26,2.470339e+08,3.102671e+08,1.013554,1.004489,2014-09-26,4.0
26,27,2.554293e+08,3.442694e+08,0.933071,0.923294,2014-09-27,5.0
27,28,2.444070e+08,3.095670e+08,1.089515,1.117874,2014-09-28,6.0
28,29,2.402909e+08,2.658858e+08,1.016724,1.012226,2014-09-29,0.0
29,30,2.366769e+08,2.862783e+08,1.011120,1.026037,2014-09-30,1.0
30,31,4.691082e+08,5.313429e+08,0.539602,0.534896,NaT,NaN

In [25]:
day_pred=day_pred[['day','total_purchase_amt','total_redeem_amt','report_date','weekday']]
day_pred

    day  total_purchase_amt  total_redeem_amt report_date  weekday
0     1        3.426931e+08      2.435252e+08  2014-09-01      0.0
1     2        2.755609e+08      2.434043e+08  2014-09-02      1.0
2     3        2.868708e+08      2.917636e+08  2014-09-03      2.0
3     4        2.827627e+08      2.557812e+08  2014-09-04      3.0
4     5        3.242326e+08      2.541077e+08  2014-09-05      4.0
5     6        3.213530e+08      2.665410e+08  2014-09-06      5.0
6     7        3.032922e+08      2.515459e+08  2014-09-07      6.0
7     8        3.106210e+08      2.674975e+08  2014-09-08      0.0
8     9        2.825186e+08      2.378344e+08  2014-09-09      1.0
9    10        3.301234e+08      2.549626e+08  2014-09-10      2.0
10   11        2.753240e+08      2.887128e+08  2014-09-11      3.0
11   12        2.710367e+08      2.537018e+08  2014-09-12      4.0
12   13        2.657696e+08      2.967745e+08  2014-09-13      5.0
13   14        2.675621e+08      2.861982e+08  2014-09-14      6.0
14   15        2.909503e+08      2.274297e+08  2014-09-15      0.0
15   16        3.109523e+08      3.045592e+08  2014-09-16      1.0
16   17        2.457197e+08      2.936109e+08  2014-09-17      2.0
17   18        2.694419e+08      2.648300e+08  2014-09-18      3.0
18   19        2.798980e+08      2.596372e+08  2014-09-19      4.0
19   20        3.119870e+08      2.564501e+08  2014-09-20      5.0
20   21        2.780713e+08      2.733102e+08  2014-09-21      6.0
21   22        2.390302e+08      2.581169e+08  2014-09-22      0.0
22   23        2.257861e+08      2.559078e+08  2014-09-23      1.0
23   24        2.305815e+08      2.922547e+08  2014-09-24      2.0
24   25        2.335852e+08      2.986820e+08  2014-09-25      3.0
25   26        2.470339e+08      3.102671e+08  2014-09-26      4.0
26   27        2.554293e+08      3.442694e+08  2014-09-27      5.0
27   28        2.444070e+08      3.095670e+08  2014-09-28      6.0
28   29        2.402909e+08      2.658858e+08  2014-09-29      0.0
29   30        2.366769e+08      2.862783e+08  2014-09-30      1.0
30   31        4.691082e+08      5.313429e+08         NaT      NaN

In [26]:
day_pred = pd.merge(day_pred,weekday_weight,on='weekday')
day_pred

,day,total_purchase_amt,total_redeem_amt,report_date,weekday,purchase_weekday,redeem_weekday
0,1,3.426931e+08,2.435252e+08,2014-09-01,0.0,1.225286,1.317867
1,8,3.106210e+08,2.674975e+08,2014-09-08,0.0,1.225286,1.317867
2,15,2.909503e+08,2.274297e+08,2014-09-15,0.0,1.225286,1.317867
3,22,2.390302e+08,2.581169e+08,2014-09-22,0.0,1.225286,1.317867
4,29,2.402909e+08,2.658858e+08,2014-09-29,0.0,1.225286,1.317867
5,2,2.755609e+08,2.434043e+08,2014-09-02,1.0,1.209608,1.172248
6,9,2.825186e+08,2.378344e+08,2014-09-09,1.0,1.209608,1.172248
7,16,3.109523e+08,3.045592e+08,2014-09-16,1.0,1.209608,1.172248
8,23,2.257861e+08,2.559078e+08,2014-09-23,1.0,1.209608,1.172248
9,30,2.366769e+08,2.862783e+08,2014-09-30,1.0,1.209608,1.172248
10,3,2.868708e+08,2.917636e+08,2014-09-03,2.0,1.163752,1.157944
11,10,3.301234e+08,2.549626e+08,2014-09-10,2.0,1.163752,1.157944
12,17,2.457197e+08,2.936109e+08,2014-09-17,2.0,1.163752,1.157944
13,24,2.305815e+08,2.922547e+08,2014-09-24,2.0,1.163752,1.157944
14,4,2.827627e+08,2.557812e+08,2014-09-04,3.0,1.157122,1.046964
15,11,2.753240e+08,2.887128e+08,2014-09-11,3.0,1.157122,1.046964
16,18,2.694419e+08,2.648300e+08,2014-09-18,3.0,1.157122,1.046964
17,25,2.335852e+08,2.986820e+08,2014-09-25,3.0,1.157122,1.046964
18,5,3.242326e+08,2.541077e+08,2014-09-05,4.0,0.920635,0.996817
19,12,2.710367e+08,2.537018e+08,2014-09-12,4.0,0.920635,0.996817
20,19,2.798980e+08,2.596372e+08,2014-09-19,4.0,0.920635,0.996817
21,26,2.470339e+08,3.102671e+08,2014-09-26,4.0,0.920635,0.996817
22,6,3.213530e+08,2.665410e+08,2014-09-06,5.0,0.709237,0.669791
23,13,2.657696e+08,2.967745e+08,2014-09-13,5.0,0.709237,0.669791
24,20,3.119870e+08,2.564501e+08,2014-09-20,5.0,0.709237,0.669791
25,27,2.554293e+08,3.442694e+08,2014-09-27,5.0,0.709237,0.669791
26,7,3.032922e+08,2.515459e+08,2014-09-07,6.0,0.685572,0.709648
27,14,2.675621e+08,2.861982e+08,2014-09-14,6.0,0.685572,0.709648
28,21,2.780713e+08,2.733102e+08,2014-09-21,6.0,0.685572,0.709648
29,28,2.444070e+08,3.095670e+08,2014-09-28,6.0,0.685572,0.709648

In [27]:
day_pred['total_purchase_amt']*= day_pred['purchase_weekday']
day_pred['total_redeem_amt']*= day_pred['redeem_weekday']
day_pred

,day,total_purchase_amt,total_redeem_amt,report_date,weekday,purchase_weekday,redeem_weekday
0,1,4.198970e+08,3.209339e+08,2014-09-01,0.0,1.225286,1.317867
1,8,3.805994e+08,3.525261e+08,2014-09-08,0.0,1.225286,1.317867
2,15,3.564972e+08,2.997221e+08,2014-09-15,0.0,1.225286,1.317867
3,22,2.928803e+08,3.401638e+08,2014-09-22,0.0,1.225286,1.317867
4,29,2.944250e+08,3.504022e+08,2014-09-29,0.0,1.225286,1.317867
5,2,3.333208e+08,2.853302e+08,2014-09-02,1.0,1.209608,1.172248
6,9,3.417369e+08,2.788009e+08,2014-09-09,1.0,1.209608,1.172248
7,16,3.761305e+08,3.570188e+08,2014-09-16,1.0,1.209608,1.172248
8,23,2.731128e+08,2.999874e+08,2014-09-23,1.0,1.209608,1.172248
9,30,2.862864e+08,3.355891e+08,2014-09-30,1.0,1.209608,1.172248
10,3,3.338464e+08,3.378460e+08,2014-09-03,2.0,1.163752,1.157944
11,10,3.841817e+08,2.952325e+08,2014-09-10,2.0,1.163752,1.157944
12,17,2.859567e+08,3.399850e+08,2014-09-17,2.0,1.163752,1.157944
13,24,2.683396e+08,3.384146e+08,2014-09-24,2.0,1.163752,1.157944
14,4,3.271910e+08,2.677937e+08,2014-09-04,3.0,1.157122,1.046964
15,11,3.185834e+08,3.022719e+08,2014-09-11,3.0,1.157122,1.046964
16,18,3.117772e+08,2.772675e+08,2014-09-18,3.0,1.157122,1.046964
17,25,2.702866e+08,3.127094e+08,2014-09-25,3.0,1.157122,1.046964
18,5,2.984999e+08,2.532990e+08,2014-09-05,4.0,0.920635,0.996817
19,12,2.495259e+08,2.528943e+08,2014-09-12,4.0,0.920635,0.996817
20,19,2.576840e+08,2.588108e+08,2014-09-19,4.0,0.920635,0.996817
21,26,2.274281e+08,3.092795e+08,2014-09-26,4.0,0.920635,0.996817
22,6,2.279155e+08,1.785266e+08,2014-09-06,5.0,0.709237,0.669791
23,13,1.884936e+08,1.987767e+08,2014-09-13,5.0,0.709237,0.669791
24,20,2.212728e+08,1.717679e+08,2014-09-20,5.0,0.709237,0.669791
25,27,1.811599e+08,2.305884e+08,2014-09-27,5.0,0.709237,0.669791
26,7,2.079287e+08,1.785091e+08,2014-09-07,6.0,0.685572,0.709648
27,14,1.834332e+08,2.031000e+08,2014-09-14,6.0,0.685572,0.709648
28,21,1.906380e+08,1.939541e+08,2014-09-21,6.0,0.685572,0.709648
29,28,1.675587e+08,2.196837e+08,2014-09-28,6.0,0.685572,0.709648

In [28]:
#排序
day_pred = day_pred[['report_date','total_purchase_amt','total_redeem_amt']].sort_values('report_date')
day_pred

   report_date  total_purchase_amt  total_redeem_amt
0   2014-09-01        4.198970e+08      3.209339e+08
5   2014-09-02        3.333208e+08      2.853302e+08
10  2014-09-03        3.338464e+08      3.378460e+08
14  2014-09-04        3.271910e+08      2.677937e+08
18  2014-09-05        2.984999e+08      2.532990e+08
22  2014-09-06        2.279155e+08      1.785266e+08
26  2014-09-07        2.079287e+08      1.785091e+08
1   2014-09-08        3.805994e+08      3.525261e+08
6   2014-09-09        3.417369e+08      2.788009e+08
11  2014-09-10        3.841817e+08      2.952325e+08
15  2014-09-11        3.185834e+08      3.022719e+08
19  2014-09-12        2.495259e+08      2.528943e+08
23  2014-09-13        1.884936e+08      1.987767e+08
27  2014-09-14        1.834332e+08      2.031000e+08
2   2014-09-15        3.564972e+08      2.997221e+08
7   2014-09-16        3.761305e+08      3.570188e+08
12  2014-09-17        2.859567e+08      3.399850e+08
16  2014-09-18        3.117772e+08      2.772675e+08
20  2014-09-19        2.576840e+08      2.588108e+08
24  2014-09-20        2.212728e+08      1.717679e+08
28  2014-09-21        1.906380e+08      1.939541e+08
3   2014-09-22        2.928803e+08      3.401638e+08
8   2014-09-23        2.731128e+08      2.999874e+08
13  2014-09-24        2.683396e+08      3.384146e+08
17  2014-09-25        2.702866e+08      3.127094e+08
21  2014-09-26        2.274281e+08      3.092795e+08
25  2014-09-27        1.811599e+08      2.305884e+08
29  2014-09-28        1.675587e+08      2.196837e+08
4   2014-09-29        2.944250e+08      3.504022e+08
9   2014-09-30        2.862864e+08      3.355891e+08

In [29]:
day_pred['report_date'] = day_pred['report_date'].apply(lambda x:str(x).replace('-','')[0:8])#日期格式去掉-

In [30]:
day_pred.to_csv('rule_base_chinese.csv',header=None,index=False)#提交查看成绩

finalScore:127.5475

In [31]:
#工具包 chinese_calendar
#判断2021年1月10日 是否为工作日，假日
import datetime
from chinese_calendar import is_workday, is_holiday
temp  =  datetime.date(2014,4,7)
print(is_workday(temp))
print(is_holiday(temp))

False
True